<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>code snippets</title>
  </head>
  <body>
    <button id="btn">click</button>
    <iframe
      src="https://code-snippets.zeabur.app/"
      id="external-web"
      name="external-web"
      frameborder="0"
      style="height: 100vh; width: 100%"
    ></iframe>
  </body>
  <script>
    const vscode = acquireVsCodeApi();

    document.getElementById("btn").onclick = () => {
      document.getElementById("external-web").contentWindow.postMessage("hello, child!", "*");
    };

    window.addEventListener("message", (e) => {
      // origin intercept(插件url：vscode-webview://119nitcb49l73n1s00dsdhef8pmhtru0l1ossku9nhg951cqd8n0)
      console.log(e.origin);
      // parse data
      vscode.postMessage(JSON.stringify(e.data));
    });
  </script>

  <!-- 子页面 -->
  <!-- <script>
    document.getElementById("button").onclick = () => {
      window.parent.postMessage({ command: "web", text: "Hello" }, "*");
    };

    window.addEventListener("message", (e) => {
      // 通过origin对消息进行过滤，避免遭到XSS攻击
      console.log(e);
    });

    // 发送消息给插件
  </script> -->
</html>
